<footer class="footer" id="contact">
  <div class="footer__wrap">
    <form class="footer__form" action="">
      <h4>Контакты</h4>
      <p>Свяжитесь с нами или оставьте свои данные и мы свяжемся с вами в кротчайшие сроки.</p>
      <div class="footer__form-grid">
        <div class="grid__item phone-letter">
         <span class="icon"></span> +998 (94) 653 06 55
        </div>
        <div class="grid__item phone-letter">
         <span class="icon"></span> dasarent@gmail.com
        </div>
        <div class="grid__item">
          <input type="text">
        </div>
        <div class="grid__item">
          <input type="text">
        </div>
        <div class="grid__item">
          <input type="text">
        </div>
        <div class="grid__item">
          <button class="btn" type="submit">Отправить</button>
        </div>
      </div>
      @@include('../common/social.html')
      <p class="copy">Dasarent company ©2020 Designed by Asadbek</p>
    </form>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.1567495793065!2d72.49878311611144!3d40.62642499043895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bcf76c4feecb55%3A0x9e29736e00b785d!2sBuloqboshi%2C%20Nayman%2C%20O%60zbekiston!5e0!3m2!1suz!2skg!4v1638376872010!5m2!1suz!2skg" width="100%" height="100%" style="border:0; min-height:520px" allowfullscreen="" loading="lazy"></iframe>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js" integrity="sha512-VHsNaV1C4XbgKSc2O0rZDmkUOhMKPg/rIi8abX9qTaVDzVJnrDGHFnLnCnuPmZ3cNi1nQJm+fzJtBbZU9yRCww==" crossorigin="anonymous"></script>

<script src="js/header.js"></script>
<script src="js/reviews.js"></script>
</body>
</html>