<div class="why">
  <div class="container">
    <h2>Почему выбирают нас?</h2>
    <div class="why__wrapper">
      <div class="why__item">
        <div class="image"><img src="images/Group 30.png" alt=""></div>
        <p>Только профессиональные водители</p>
      </div>
      <div class="why__item">
        <div class="image"><img src="images/Group 31.png" alt=""></div>
        <p>Доставка на место работы</p>
      </div>
      <div class="why__item">
        <div class="image"><img src="images/Group 32.png" alt=""></div>
        <p>Аренда  техники любых размеров</p>
      </div>
    </div>
  </div>
</div>



