<div class="review" id="review">
  <div class="container">
    <h4>Отзывы наших клиентов</h4>
    <div class="swiper-container review__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="review__slider-content">
            <div class="user">
              <img src="images/Ellipse 5-1.jpg" alt="">
              <div class="user__name">
                <strong>Ахмед Бабаев</strong>
                <span>Частный предприниматель</span>

              </div>
            </div>
            <p>“Хочу отметить что работа выполненная компанией DASARENT превзошла моих ожиданий. Хочу поблагодарить специалистов компании, которые с полуслова поняли мое желание и выделели необходимую спецтехнику. Работа выполнена очень качественно.”</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review__slider-content">
            <div class="user">
              <img src="images/Ellipse 5-1.jpg" alt="">
              <div class="user__name">
                <strong>Ахмед Бабаев</strong>
                <span>Частный предприниматель</span>

              </div>
            </div>
            <p>“Хочу отметить что работа выполненная компанией DASARENT превзошла моих ожиданий. Хочу поблагодарить специалистов компании, которые с полуслова поняли мое желание и выделели необходимую спецтехнику. Работа выполнена очень качественно.”</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review__slider-content">
            <div class="user">
              <img src="images/Ellipse 5-1.jpg" alt="">
              <div class="user__name">
                <strong>Ахмед Бабаев</strong>
                <span>Частный предприниматель</span>

              </div>
            </div>
            <p>“Хочу отметить что работа выполненная компанией DASARENT превзошла моих ожиданий. Хочу поблагодарить специалистов компании, которые с полуслова поняли мое желание и выделели необходимую спецтехнику. Работа выполнена очень качественно.”</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review__slider-content">
            <div class="user">
              <img src="images/Ellipse 5-1.jpg" alt="">
              <div class="user__name">
                <strong>Ахмед Бабаев</strong>
                <span>Частный предприниматель</span>

              </div>
            </div>
            <p>“Хочу отметить что работа выполненная компанией DASARENT превзошла моих ожиданий. Хочу поблагодарить специалистов компании, которые с полуслова поняли мое желание и выделели необходимую спецтехнику. Работа выполнена очень качественно.”</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review__slider-content">
            <div class="user">
              <img src="images/Ellipse 5-1.jpg" alt="">
              <div class="user__name">
                <strong>Ахмед Бабаев</strong>
                <span>Частный предприниматель</span>

              </div>
            </div>
            <p>“Хочу отметить что работа выполненная компанией DASARENT превзошла моих ожиданий. Хочу поблагодарить специалистов компании, которые с полуслова поняли мое желание и выделели необходимую спецтехнику. Работа выполнена очень качественно.”</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review__slider-content">
            <div class="user">
              <img src="images/Ellipse 5-1.jpg" alt="">
              <div class="user__name">
                <strong>Ахмед Бабаев</strong>
                <span>Частный предприниматель</span>

              </div>
            </div>
            <p>“Хочу отметить что работа выполненная компанией DASARENT превзошла моих ожиданий. Хочу поблагодарить специалистов компании, которые с полуслова поняли мое желание и выделели необходимую спецтехнику. Работа выполнена очень качественно.”</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next review__slider-button review__slider-button_next"></div>
    <div class="swiper-button-prev review__slider-button review__slider-button_prev"></div>
</div>