.category-product {
  margin-top: 77px;
  padding: 40px 0;
  background: $color2;

  &__sections {
    ul {
      @include row();

      li {
        margin-bottom: 30px;
        @include col-base();

        a {
          background: $color1;
          padding: 14px 50px;
          display: block;
          font-family: Lato,sans-serif;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          letter-spacing: 0.05em;
        }
      }
    }
  }

  h2 {
    color: $text2;
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(130px, 255px));
    justify-content: center;

    @include media($lg) {
      grid-template-columns: repeat(3, minmax(130px, 255px));
    }

    @include media($md) {
      grid-template-columns: repeat(2, minmax(150px, 255px));
    }

    @include media($xs) {
      grid-gap: 10px;
    }

    grid-gap: 30px;
  }

  &__item {
    &-content {
      height: 100%;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-link {
      display: flex;
      padding: 16px 0 20px 0;
      justify-content: center;
      align-items: center;
      background: $color1;

      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */

      letter-spacing: 0.05em;

      @include media($sm) {
        font-size: 15px;

      }

      @include media($sm) {
        font-size: 12px;

      }
    }
  }

  &__link {
    margin-top: 30px;
  }
}