.footer {
  .icon {
    font-weight: 800;
  }

  .phone-letter {
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
  }

  &__wrap {
    @include row(0);
  }

  &__form {
    @include media($lg){

      @include col(12, 15px);
    }
    h4 {
      max-width: 544px;

      font-family: Lato, sans-serif;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
    }

    p {
      max-width: 544px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.05em;
      margin-bottom: 30px;
    }

    padding-top: 100px;
    // padding-left: 20px;
    background: $color1;
    @include col(6, 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &-grid {
      max-width: 544px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include media ($sm){

        grid-template-columns: repeat(1, 1fr);
      }
      grid-gap: 50px;
      grid-row-gap: 25px;
      width: 100%;
    }

    input {
      background: white;
      display: block;
      width: 100%;
      padding: 17px 15px;
      font-family: Roboto;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.05em;

      color: #969696;
    }

    button {
      width: 100%;
      padding: 10px 0;
      height: 100%;

    }
  }

  iframe {
    @include col(6, 0);
    @include media($lg){

      @include col(12, 0);
    }
  }

  .copy {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.05em;
    margin: 0;
    // margin-top: 100px;
  }
}