.header {

  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 999;
  // background: $color1;
  // backdrop-filter: blur(10px);

  &__nav {
    $scrolled: '#{&}.scrolled';
    transition: 1000ms;
    background: $color1;

    padding: 5px 0;

    &.home {
      background: transparent;

      &.scrolled {
        background-color: $color1;
      }
    }

    &.home &-wrapper {
      max-width: 80%;
      transition: 1000ms;

      @include media($lg) {
        max-width: 100%;
      }
    }

    &-wrapper {


      #{$scrolled} & {

        max-width: 200%;
      }

      @include row(0);
      align-items: center;
      justify-content: space-between;
    }

    &-menu {
      overflow-x: hidden;
      transition: 300ms;
      &.open {
        left: 0%;
        // filter: blur(0px);

      }

      @include row();

      @include media($md) {
        position: fixed;
        top: 0;
        left: 120%;
        right: 0;
        // width: 100%;
        overflow-y: scroll;
        background: #ffbe1aa1;
        backdrop-filter: blur(10px);
        padding-left: 0;
        padding-right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        // filter: blur(20px);
        align-items: center;
        flex-direction: column;

        li {
          margin: 5px;
        }
      }

      li {
        @include col-base();
        font-family: Open Sans;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $color2;
        & a{
          color: $color2;
        }
        &:hover {
          color: $text2;
        }
      }
    }

    .info {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
      a{
        display: flex;
        img{
          max-width: 15px;
          margin-right: 10px;
        }
      }
      @include media($md) {
        display: none;
      }
    }
  }
}