$height: 90vh;

.header__content {
  position: relative;
  background: $color1;
  height: $height;
  display: flex;
  align-items: center;
  overflow: hidden;

  .social {
    &.scrolled {
      left: -70px;

      @include media(1264px) {
        left: 50%;
        bottom: -70px;

      }
    }

    @include media(1264px) {
      bottom: 0;
      flex-direction: row;
      clip-path: polygon(7% 0, 0 0, 93% 0%, 100% 100%, 0 100%);
      left: 50%;
      transform: translateX(-50%);
      padding: 0px 40px;
    }

    transition: 300ms;
    position: fixed;
    flex-direction: column;
    z-index: 999;
    left: 0;
    background: $color2;
    clip-path: polygon(0 0, 0 0, 100% 7%, 100% 93%, 0 100%);
    padding: 20px 10px;

    li {
      margin: 10px 0;

      img {
        min-width: 20px;

        transition: 200ms;
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }

  &-wrapper {
    @include row();
    align-items: center;

    >* {
      @include col(6);

      @include media($md) {
        @include col(8);
      }

      @include media($sm) {
        @include col(9);
      }
    }

    .text {
      @include media($md) {
        p {
          margin: 0;
          font-size: 20px;
        }

        @include col(12);

        z-index: 1;
        position: relative;
      }
    }
  }

  &-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media($md) {
      position: absolute;
      opacity: 30%;
      right: 0;
      padding-right: 0;
      // z-index: 1;
    }

    @include media($sm) {
      @include col(12);
      padding-right: 0;

    }
  }

  .header__content-image {
    img {

      height: $height;
      min-width: 50vw;
      object-fit: cover;
      object-position: bottom left;
    }
  }


  h1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 89px;
    margin-bottom: 25px;

    @include media($lg) {
      font-size: 40px;

    }

    @include media($md) {
      font-size: 30px;

    }
  }

  p {
    font-family: Montserrat;
    font-size: 25px;
    line-height: 30px;
    margin-right: -90px;
    margin-bottom: 36px;

    span,strong {
      font-weight: 700;
    }
  }

  .btn {
    @include media($sm) {
      font-size: 13px;
      margin-top: 30px;
    }
  }
}