<div class="about" id="about">
  <div class="about__content">
    <div class="container">
      <h2>о нас</h2>
      <p> Компания DASARENT уже 20 лет предоставляет услуги по аренде тяжулой спецтехники. На компания готова помочь со
        стороительством дорог, жилых и нежилых объектов. Мы предоставляем нашу технику как на короткосрочной так и на
        долгосрочной преспективе. Для удобства наших клиентов есть специальные тарифы. Наши водители являются
        профессионалами своего дло. На первом месте для нашей компании благополучие наших клиентов и их предложений!</p>
    </div>
  </div>
  <div class="about__statistic">
    <div class="container">
      <div class="about__statistic-wrap">
        <div class="about__statistic-item">
          <h5>20 лет</h5>
          <p>На рынке спецтехники</p>
        </div>
        <div class="about__statistic-item">
          <h5>20 лет</h5>
          <p>На рынке спецтехники</p>
        </div>
        <div class="about__statistic-item">
          <h5>20 лет</h5>
          <p>На рынке спецтехники</p>
        </div>
        <div class="about__statistic-item">
          <h5>20 лет</h5>
          <p>На рынке спецтехники</p>
        </div>
      </div>
    </div>
  </div>
</div>