<div class="header__content">
@@include('../../common/social.html')
  <div class="container">
    <div class="header__content-wrapper">
      <div class="text">
        <h1>АРЕНДА СпецТЕХНИКИ</h1>
        <p>Компания <span>DASARENT</span> предоставляет услуги по аренде спецтехники в кротчайшие сроки и за приемлемые цены.</p>
        <a class="btn" href="https://www.upwork.com/freelancers/~0187cf55ad1990eb96">ЗАКАЗАТЬ ПРЯМО СЕЙЧАС</a>
      </div>
      <div class="header__content-image">
        <img src="images/header_product-1.png" alt="">
      </div>
    </div>
  </div>
</div>