<div class="bid @@where">
  <div class="container">
    <h3>@@title</h3>
    <p>@@desc</p>
    <form class="bid__form" action="" >
      <div class="bid__form-grid">
        <div class="bid__form-item">
          <label for="bid__form-user-name" class="bid_label">Имя</label>
          <input type="text" class="bid_input" id="bid__form-user-name">
        </div>
        <div class="bid__form-item">
          <label for="bid__form-user-phone" class="bid_label">+998 (__) ___-__-__</label>
          <input type="text" class="bid_input" id="bid__form-user-phone">
        </div>
        <div class="bid__form-item">
          <label for="bid__form-user-email" class="bid_label">E-mail</label>
          <input type="text" class="bid_input" id="bid__form-user-email">
        </div>
        <div class="bid__form-item">
          <button>отправить</button>
        </div>
      </div>
      <label class="agree">
        <input type="checkbox" name="" id="">
        <span></span>
        * Я согласен на обработку моих данных
      </label>
    </form>
  </div>
</div>
<!-- <script src=".."></script> -->